.login{
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
    .loginWrapper{
        width: 70%;
        height: 70%;
        display: flex;
        .lLeft{
            flex:1;
            display: flex;
flex-direction: column;
justify-content: center;
            .lLogo{
                font-size: 50px;
                font-weight: bold;
                color: rgb(32, 32, 32);
            }
            .ldesc{
                font-size: 24px;
            }
        }
        .lRight{
            flex:1;
            display: flex;
flex-direction: column;
justify-content: center;

            .lBox{
                height: 400px;
                padding: 20px;
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .lForgot{
                    text-align: center;
                    color: rgb(32, 32, 32);
                }
                
                .lInput{
                    height: 50px;
                    border-radius: 10px;
                    border: 1px solid gray;
                    font-size: 18px;
                    padding-left: 20px;
                    outline: none;
                }
                .lBtn{
                    height: 50px;
                    border-radius: 10px;
                    border: none;
                    background-color: rgb(32, 32, 32);
                    color: white;
                    font-size: 20px;
                    font-weight: 500;
                    cursor: pointer;
                }
                .lRbtn{
                    height: 50px;
                    border-radius: 10px;
                    border: none;
                    background-color: #42b72a;
                    color: white;
                    font-size: 20px;
                    font-weight: 500;
                    cursor: pointer;
                    width: 60%;
                    align-self: center;
                }
            }
        }
    }
}